
.sqd-designer {
	position: relative;
	display: flex;
	width: 100%;
	height: 100%;
}
.sqd-designer, .sqd-drag {
	font-size: 13px;
	line-height: 1em;
}
.sqd-hidden {
	display: none !important;
}
.sqd-disabled {
	opacity: 0.25;
}

/* .sqd-toolbox */

.sqd-toolbox, .sqd-toolbox-filter {
	font-size: 11px;
	line-height: 1.2em;
}
.sqd-toolbox {
	position: absolute;
	top: 250px;
	right: 310px;
	z-index: 20;
	box-sizing: border-box;
	border-radius: 10px;
	width: 150px;
	height: 275px;
	user-select: none;
}
.sqd-toolbox-header {
	position: relative;
	padding: 15px 10px;
	cursor: pointer;
}
.sqd-toolbox-header-title {
	display: block;
	font-size: 1.2em;
	line-height: 1em;
	font-weight: bold;
}
.sqd-toolbox-toggle-icon {
	position: absolute;
	top: 50%;
	right: 10px;
	width: 16px;
	height: 16px;
	margin: -8px 0 0;
}
.sqd-toolbox-header:hover .sqd-toolbox-toggle-icon {
	opacity: .6;
}
.sqd-scrollbox {
	position: relative;
	overflow: hidden;
}
.sqd-scrollbox-body {
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 12px;
}
.scrollbox-div {
	position: absolute;
	top: 50px; 
}
.group-filter {
	position: absolute; 
	top: 0;
	left: 0; 
	height: 75px;
	width: 135px;
	background-color: white;
	box-shadow: 6px 6px 6px rgba(52, 152, 219, 0.3); 
}
.group-action {
	position: absolute; 
	top: 90px; 
	left: 0; 
	height: 175px;
	width: 135px;
	background-color: white;
	box-shadow: 6px 6px 6px rgba(52, 152, 219, 0.3); 
}
/* .sqd-toolbox-filter {
	display: block;
	box-sizing: border-box;
	padding: 6px 8px;
	outline: none;
	width: 110px;
	margin: 0 10px 10px;
	box-sizing: border-box;
	border-radius: 10px;
} */

.emaily-toolbox {
	position: absolute;
    left: 25px;
    width: 60px;
    height: 320px;
    top: 250px;
}
.toolbox-body {
	position: absolute; 
	width: 40px; 
	height: 296px; 
	border-radius: 25px;
	background-color: #3498DB;
	box-shadow: 4px 4px 4px rgba(52, 152, 219, 0.3); 
}

.emaily-toolbox-icon {
	position: absolute;
	left: 10px; 
}
.dashboard-icon {
	top: 35px; 
}
.flow-icon {
	top: 80px; 
}
.users-icon {
	top: 125px; 
}
.file-icon {
	top: 170px; 
}
.line-divider {
	top: 210px; 
}
.settings-icon {
	top: 245px; 
}

.switch-title {
	width: 200px;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: center;
    dominant-baseline: central;
}
.sqd-text-input {
	display: block;
	width: 115px;
	height: 22px; 
	border-radius: 4px;
	border-width: 1px;
    border-color: #808080;
}
.sqd-loc-input {
	display: block;
	width: 374px;
	height: 22px; 
	border-radius: 4px;
	border-width: 1px;
    border-color: #808080;
}

.sqd-toolbox-filter-title {
	font-size: 10pt;
	font-family: sofiaProMed;
	color: #247d99; 
	margin: 16px 0px 5px 13px;
}
.sqd-toolbox-action-title {
	font-size: 10pt;
	font-family: sofiaProMed;
	color: #3f55db; 
	margin: 16px 0px 5px 13px;
}
.sqd-toolbox-item {
	position: relative;
	border-radius: 5px;
	box-sizing: border-box;
	margin: 0 10px 0px;
	width: 110px;
	cursor: move;
}
.sqd-toolbox-item-icon {
	position: absolute;
	top: 38%;
	margin-top: -10px;
	width: 25px;
	height: 25px;
}
.sqd-toolbox-item-icon.sqd-no-icon {
	border-radius: 4px;
}
.sqd-toolbox-item-icon-image {
	width: 100%;
	height: 100%;
}
.sqd-toolbox-item-text {
	font-size: 10pt;
	font-family: sofiaProLit;
	position: relative;
	display: block;
	padding: 10px 3px 10px 30px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.sqd-drag {
	position: absolute;
	z-index: 9999999;
	pointer-events: none;
}

/* .sqd-control-bar */
/*.sqd-control-bar {*/
/*	position: absolute;*/
/*	bottom: 10px;*/
/*	left: 10px;*/
/*	z-index: 20;*/
/*	padding: 8px 0 8px 8px;*/
/*	border-radius: 25px;*/
/*	white-space: nowrap;*/
/*}*/

.rb-buttons-box {
	width: 55px;
	height: 120px;
	position: absolute;
	bottom: 0;
	left: 18px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.sqd-control-bar {
	width: 110px;
	position: absolute;
	bottom: 10px;
	right: 325px;
	z-index: 20;
	padding: 8px;
	border-radius: 25px;
	white-space: nowrap;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.sqd-control-bar-button {
	display: inline-block;
	width: 30px;
	height: 30px;
	cursor: pointer;
}
.sqd-control-bar-button-icon {
	width: 24px;
	height: 24px;
	margin: 3px 0 0 3px;
}
.sqd-control-bar-button.sqd-disabled .sqd-control-bar-button-icon {
	opacity: .2;
}

/* .sqd-workspace */

.sqd-workspace {
	flex: 1;
	position: relative;
	display: block;
	user-select: none;
}
.sqd-workspace-canvas {
	position: absolute;
	top: 0;
	left: 0;
	cursor: move;
}
.sqd-grid-path {
	stroke-width: 1;
}
.sqd-join {
	stroke-width: 2;
}
.sqd-join-right {
	stroke-width: 2;
}
/* .sqd-smart-editor */

.sqd-smart-editor-toggle {
	position: absolute;
	top: 0;
	z-index: 29;
	width: 36px;
	height: 64px;
	border-bottom-left-radius: 10px;
	cursor: pointer;
}
.sqd-smart-editor-toggle-icon {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 24px;
	height: 24px;
	margin: -12px 0 0 -12px;
}
.sqd-smart-editor-toggle:hover .sqd-smart-editor-toggle-icon {
	opacity: .6;
}
.sqd-smart-editor {
	z-index: 30;
}
.sqd-layout-desktop .sqd-smart-editor {
	position: relative;
	width: 300px;
}
.sqd-layout-desktop .sqd-smart-editor-toggle {
	right: 300px;
}
.sqd-layout-desktop .sqd-smart-editor-toggle.sqd-collapsed {
	right: 0;
}
.sqd-layout-mobile .sqd-smart-editor {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 41px;
}
.sqd-layout-mobile .sqd-smart-editor-toggle {
	left: 5px;
}
.sqd-layout-mobile .sqd-smart-editor-toggle.sqd-collapsed {
	left: auto;
	right: 0;
}

/* .sqd-task */

.sqd-task-rect {
	stroke-width: 3;
}
.sqd-switch-rect {
	stroke-width: 3; 
}
.sqd-switch-rect-left {
	stroke-width: 3; 
}
.sqd-task-reminder {
	fill: #a0a0a0
}

.add-cond-text {
	position: relative;
	fill: #1080A0; 
	font-size: 14px;
}

.add-seg-btn-title {
	position:relative;
	fill:#E0E0E0;
	text-anchor: middle; 
	font-size: 16px;
}

.sqd-task-rect.sqd-selected {
	stroke-width: 2.5;
}

@font-face {
	font-family: sofiaProReg;
	src: url(../assets/SofiaProRegular.ttf);
}
@font-face {
	font-family: sofiaProMed;
	src: url(../assets/SofiaProMedium.ttf);
}
@font-face {
	font-family: sofiaProLit;
	src: url(../assets/SofiaProLight.ttf);
}
.sqd-task-text {
	text-anchor: left;
	text-align: center;
	dominant-baseline: central;
	font-family: sofiaProReg;
}
.dropdown-inner-text {
	font-size: 9pt;
}
.main-text {
	font-size: 9pt;
}
.switch-val-btn {
	text-anchor: left;
	text-align: center;
	dominant-baseline: central;
	font-family: sofiaProReg;
}
/* .sqd-input + .sqd-output */

.sqd-input {
	stroke-width: 2;
}

/* .sqd-region */

.sqd-region {
	/* stroke-width: 2; */
	/* stroke-dasharray: 3; */
}
.sqd-region.sqd-selected {
	stroke-width: 2;
	stroke-dasharray: 0;
}
.sqd-label-text {
	text-anchor: middle;
	dominant-baseline: central;
}

/* .sqd-placeholder */

.sqd-placeholder {
	stroke-width: 1;
	/* stroke-dasharray: 3; */
}
.moreIcon {
	position: relative;
	display: inline-block;
	border-radius: 5px;
	margin-right: 8px;
	height: 22px;
	width: 22px;
	cursor: pointer;
}
.more:hover {
	display: block;
	cursor: pointer;
}
.moreicon{
	position: relative;
	display: inline-block;
	border-radius: 5px;
	margin-right: 8px;
	height: 22px;
	width: 22px;
	cursor: pointer;
}
.sqd-task-rect-dropdown{
	position: fixed;
}
.sub-dropdownbox-pop{
	cursor: pointer;
}
.sub-dropdownbox{
	cursor: pointer;
}
.choice {
	cursor: pointer;
	stroke-width: 1;
}
.choice:hover {
	fill: #247d99;
}

/* Start component */
.sqd-start:hover {
	cursor: pointer;
}
/* title box */
.info-box{
	position: absolute;
	top: 10px;
	left: 100px;
	margin: 12px 0 0 12px;
}
.info-box-rect{
	position: relative;
	top: 80px;
	fill:white;
	filter: drop-shadow(0px 4px 4px rgba(32, 128, 255, 0.5));
	/* position: absolute;
	width: 525px;
	height: 60px;
	left: 170px;
	top: 59px; 
	fill: #FFFFFF; */
}
.info-box-title{
	position:relative;
	fill:#202020;
	text-anchor: middle;

}
/* avatar */
.avatar-box {
	position: absolute;
	top: 10px;
	right: 50px;
	margin: 12px 0 0 12px;
}

.emaily-logo {
	position: absolute;
	left: 5px;
	width: 120px;
	height: 80px;
}

/* title-box prompt */
.info-box-prompt{
	position: absolute;
	top: 65px;
	left: 170px;
	border-radius: 10px;
	border: 2px solid #5495d4;
	width: 300px;
	height: auto;
	display: flex;
	background: white;
}
.info-box-prompt-input{
	position: relative;
	outline: 0;
	width: 100%;
	top: 10px;
	left: 10px;
	border-width: 0 0 1px;
	border-color:#5495d4;
	margin-bottom: 10px;
}
.info-box-prompt-input:focus{
	border-color:#5495d4;
}
.info-box-prompt-column{
	position: relative;
	float: left;
	width: 33.33%;
	top: 10px;
	left: 5px; 
	margin-bottom: 20px;
}
.info-box-prompt-column-text{
	position: relative;
	display: inline-block;
	margin: 3px 3px 3px 3px;
}
.input-box-prompt-textarea{
	position: relative;
	float: left;
	width: 70%;
	height: auto;
	padding: 5px 5px;
	border: 1px solid #5495d4;
	resize: vertical;
	margin-top: 2px;
	border-radius: 5px;
}

/* Buttons */
.info-box-prompt-btn-div{
	position: absolute;
	bottom: 5px;
	right: 5px;
}
.info-box-prompt-btn{
	margin-left: 3px;
}

/* Triggers list */
.triggers-list{
	position: relative;
	top: 50%;
	left: 50%;
	margin-top: -50px;
	margin-left: -100px;
	width: 200px;
	background-color: transparent;
	border:none;
	border-radius: 10px;
}
.triggers{
	border: none;
	width: 150px;
	height: 40px;
	margin-bottom: 10px;
	border-radius: 10px;
	color: black;
	background-color: white;
	padding: 5px;
}

/* Export panel */
.export-panel{
	position: absolute;
	border-radius: 10px;
	border: none;
	background-color: white;
	top: 20px;
	left: 330px;
	height: 150px;
	width: 135px;
	padding: 5px 2px 5px 2px;
}

/* Confirm dialog */
.confirm-dialog {
	border: transparent;
  	border-radius: 10px;
	background-color: #edf1f4;
	/* margin-top: 325px;
    margin-left: 423px; */
}

.ie-btn1 {
	height: 25px;
    width: 75px;
    background-color: #30a0e8;
    color: white;
    border-radius: 4px;
    border-width: 1px;
	margin-left: 60px;
}

.ie-btn2 {
	height: 25px;
    width: 75px;
    border-radius: 4px;
    border-width: 1px;
	margin-left: 40px;
}

.sqd-task-line{
	stroke-width: 1;
}
.dropdown-div{
	border: #5495d4;
	background-color: #A0C0FF;
	color:white;
	border-radius: 20px;
	position: absolute;
	top: 10px;
	left: 500px;
	margin-top: 10px;
	padding: 15px 15px 15px 15px;
}
.dropdown-btn{
	background-color: transparent;
	border: none;
	color: black;
}
.dropdown-btn:hover{
	cursor: pointer;
}
.dropdown-content{
	display: none;
	position: absolute;
	background-color: #edf1f4;
}
/* For pop-up buttons container */
.sqd-task-ImgContainerCircle{
	position: absolute;
	width: 30px;
	height: 30px;
	left: 1164px;
	top: 291px;
	fill: #FFFFFF;
	/* Black shadow 
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);*/
	border-radius: 40px;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.2));
	stroke-width: 2px;
	cursor: pointer;
	/*stroke: #5495d4;*/
}
.sqd-task-checkContainerCircle {
	position: absolute;
	width: 30px;
	height: 30px;
	left: 1164px;
	top: 291px;
	fill: #3498db;
	/* Black shadow 
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);*/
	border-radius: 40px;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.2));
	stroke-width: 2px;
	cursor: pointer;
	/*stroke: #5495d4;*/
}

.sqd-task-ImgContainerCircle :hover{
	fill: #FFFFFF;
  	stroke-width: 1px;
	stroke: #5495d4;
}

/* Create new Tag */
.create-tag{
	border: none;
	stroke: none;
	fill: none;
}
.create-tag :hover{
	cursor: pointer;
}
.new-tag-text {
	stroke: #67b1e3;
	fill:#67b1e3;

}
.new-tag-text-back {
	stroke: #808080;
	fill:#808080
}
.new-tag-input{
	width: 225px;
	height: 15px;
	border-style: solid;
    border-radius: 4px;
    border-width: 1px;
    border-color: #808080;
}

/* Email conten */
.content-option {
	stroke:#5495d4;
	fill: none;
}
.content-text {
	fill:#5495d4;
}

.sqd-start-stop{
	visibility: none;
}

.sqd-start-stop-icon{
	visibility: none;
	font-size: 8pt;
}
.more-temps {
	fill: #1c77da
}