
/********* light *********/

@font-face {
	font-family: 'sofia-pro';
	src: url('../Sofia/Sofia\ Pro\ Regular\ Az.otf'); 
}

@font-face {
	font-family: 'sofia-light';
	src: url('../Sofia/Sofia\ Pro\ Light\ Az.otf'); 
}

body{
	font-family: 'sofia-pro';
}

.sqd-theme-light.sqd-designer {
	background: #F9F9F9;
}

/* light > .sqd-toolbox */

.sqd-theme-light .sqd-toolbox {
	background: #FFF;
	box-shadow: 0 0 8px rgba(0, 0, 0, .15), 0 2px 4px rgba(0, 0, 0, .15);
}
.sqd-theme-light .sqd-toolbox-filter {
	border: 1px solid #C3C3C3;
}
.sqd-theme-light .sqd-toolbox-filter:focus {
	border-color: #939393;
}
.sqd-theme-light .sqd-toolbox-group-title {
	background: #E5E5E5;
}
.sqd-theme-light .sqd-toolbox-item {
	border: 1px solid #C3C3C3;
	box-shadow: 0 2px 2px rgba(0, 0, 0, .15);
}
.sqd-theme-light .sqd-toolbox-item:hover {
	border: 1px solid #939393;
}
.sqd-theme-light .sqd-toolbox-item-icon.sqd-no-icon {
	background: #C6C6C6;
}

/* light > .sqd-control-bar */

.sqd-theme-light .sqd-control-bar {
	background: #FFF;
	box-shadow: 0 0 8px rgba(0, 0, 0, .15), 0 2px 4px rgba(0, 0, 0, .15);
}
.sqd-theme-light .sqd-control-bar-button {
	border: 1px solid #C3C3C3;
}
.sqd-theme-light .sqd-control-bar-button:hover {
	border-color: #939393;
}

/* light > .sqd-workspace */

.sqd-theme-light .sqd-grid-path {
	stroke: #E3E3E3;
}
.sqd-theme-light .sqd-join {
	stroke: #a4a7aa;
}

/* light > .sqd-smart-editor */

.sqd-theme-light .sqd-smart-editor {
	background: #FFF;
	box-shadow: 0 0 8px rgba(0, 0, 0, .15);
}
.sqd-theme-light .sqd-smart-editor-toggle {
	background: #FFF;
	box-shadow: 0 0 8px rgba(0, 0, 0, .15);
}

/* light > .sqd-task */

.sqd-theme-light .sqd-task-rect {
	fill: #FFF;
	stroke: #4FCCFC;
	filter: drop-shadow(0 1.5px 1.5px rgba(0, 0, 0, .15));
}

.sqd-theme-light .sqd-task-rect-inner{
	fill: #FFF;
	stroke: #4FCCFC;
	stroke-width: 1.5;
}

#sqd-task-tag .sqd-task-rect{
	stroke: #C2A5FF;
}

#sqd-task-email .sqd-task-rect{
	stroke: #3F55DB;
}

#sqd-task-timetrigger .sqd-task-rect{
	stroke: #4FCCFC;
}

#sqd-task-timedelay .sqd-task-rect{
	stroke: #8C91DB;
}

#timedelay-more-img{
	fill: #8C91DB;
}

.sqd-theme-light .sqd-task-text {
	fill: #000;
	font-family: 'sofia-pro';
}

.sqd-theme-light .sqd-task-text_2{
	font-family: 'sofia-pro';
	fill: #949CA0;
}

.sqd-theme-light .sqd-task-empty-icon {
	fill: #C6C6C6;
}

/* light > .sqd-input + .sqd-output */

.sqd-theme-light .sqd-input {
	fill: #FFF;
	stroke: #000;
}

.sqd-theme-light .sqd-output {
	fill: #000;
}

/* light > .sqd-region */

.sqd-theme-light .sqd-region {
	stroke: #CECECE;
}
.sqd-theme-light .sqd-region.sqd-selected {
	stroke: #ED4800;
}
.sqd-theme-light .sqd-label-rect {
	fill: #f2fafc;
	stroke:#5296d5;
	stroke-width:3;
    stroke-dasharray:8,7;
}
.sqd-theme-light .sqd-label-rect.sqd-label-secondary {
	fill: #35aeeb;
}
.sqd-theme-light .sqd-label-text {
	fill:#000;
}

/* light > .sqd-start-stop */

.sqd-theme-light .sqd-start-stop {
	fill: #5296d5;
}
.sqd-theme-light .sqd-start-stop-icon {
	fill: #FFF;
}

/* light > .sqd-placeholder */

.sqd-theme-light .sqd-placeholder {
	fill: #5495d4;
	stroke: #FFF;
}
.sqd-placeholder-icon{
	stroke: #fff;
	/* stroke-width: 2; */
}
#outside-circle{
	fill: #cee2f0;
	stroke: #cee2f0;
}
.sqd-theme-light .sqd-validation-error {
	fill: #FFA200;
}

dialog{
	border: none;
	box-shadow: 3px 3px 8px #3498db;
	border-radius: 10px;
	background-size: 150%;
}

.triggers-list{
	background-color: white;
	position:fixed;
	width: 530px;
	top: 30%;
	left: 37%;
	padding-left: 20px;
}

.prompt{
	color:#43A2E3;
	font-size: 22px;
	font-weight: bold;
}

.triggers{
	font-family: 'sofia-pro';
	background-color: #EBF7FE;
	background-repeat: no-repeat;
	background-position: 13px 5px;
	background-size:36px 38px;
	width: 460px;
	height: 50px;
	text-align: left;
	padding-left: 60px;
}

.triggers:hover{
	color: #3498DB;
}


form{
    margin-top: 20px;
  	margin-bottom: 20px;
  	margin-right: 30px;
  	margin-left: 30px;
}

.timeTriggerSelectTimeselect{
	margin-left: 25px;
	width:80px;
	height: 20px;
}

.timeTriggerSendTimeselect{
	margin-left: 17px;
	width:80px;
	height: 20px;
}

/* .stop{
	visibility: hidden;
} */

.arrowBtn{
	margin-left: 30px;
	margin-right: 30px;
}

.calenderText{
	margin-left: 20px;
	margin-right: 30px;
}

.weekText{
	margin-left: 18px;
}

.sqd-task-rect-pop{
	fill: #d8e9f2;
	stroke: none;
}

.confirm-dialog{
	width: 280px;
}

.confirm-dialog-content{
	margin-left: 48px;
}

.confirm-dialog-content-warning{
	margin-left: 30px;
	color:red;
	margin-top: -5px;
}

.popup-button{
	font-family: 'sofia-light';
	margin-left: 13px;
	font-size: 17px;
	width: 90px;
	height: 30px;
	border-radius: 8px;
	border-width: 1px;
	color: #949CA0;
    background-color: #FFF;
	border-color: #949CA0;
}

.popup-button2{
	font-family: 'sofia-light';
	margin-left: 16px;
	font-size: 17px;
	width: 90px;
	height: 30px;
	border-radius: 8px;
	border-width: 1px;
	color: #949CA0;
	background-color: #FFF;
	border-color: #949CA0;
}

.popup-button:hover{
	background-color: #5495d4;
	color:#FFF;
}

.popup-button2:hover{
	background-color: #5495d4;
	color:#FFF;
}